<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-stable">
    <h1 class="title">주택청약 공고</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
      <div class="col">#</div>
      <div class="col">지역</div>
      <div class="col">공고명</div>
      <div class="col">등록일</div>
      <div class="col">완료여부</div>

    </div>

    <ion-item>{{pageIndex}}</ion-item>
    <div ng-controller="DashCtrl" class="row" ng-repeat="data in items">

      <div class="col">{{data.rn}}</div>
      <div class="col">{{data.brtcCodeNm}}</div>
      <div class="col" ng-click="alert1()">LK {{data.pblancNm}}</div>
      <div class="col">{{data.frstRegistDt}}</div>
      <div class="col">{{data.prgrStts}}</div>

    </div>

    <ion-infinite-scroll  on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

  </ion-content>

</ion-view>

